img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #181824;
  font-family: "Roboto", "Arial", sans-serif;
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  position: absolute;
  left: 50%;
  margin-top: 100px;
  padding-bottom: 20px;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  min-width: 240px;
  max-width: 660px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 60px -10px rgb(95 67 164 / 74%);
}

.title {
  margin: 0;
  padding: 85px 0 0 0;
  color: #7157bd;
  font-size: 22px;
  font-weight: 700;
}

.photo {
  position: absolute;
  top: -60px;
  left: 50%;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #324e63;
  box-shadow: 0 5px 50px 0 #6c44fc, 0 0 0 7px rgb(107 74 255 / 50%);
  transform: translateX(-50%);
  overflow: hidden;

  @media (min-width: 1200px) {
    top: -75px;
    width: 150px;
    height: 150px;
  }
}

.photo__pic {
  display: block;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 100%;

  @media (min-width: 1200px) {
    width: 150px;
  }
}

.page__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  display: inline-flex;
  margin: 10px 0 0 0;
  padding: 0;

  & span {
    margin-left: 5px;
  }
}

.part {
  display: flex;
  flex-direction: column;
  margin: 10px 20px 0 20px;
  padding: 10px;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #1da1f2, #0e71c8); // пока что
  box-shadow: 0 4px 30px rgb(27 86 231 / 70%); // пока что
  overflow: hidden;
  height: 50px;
  transition: all 0.5s ease-in-out;
  color: transparent;
}

.part__title {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 16px;
}

.part__text {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 25px;
}


.about-me {
  background-image: linear-gradient(45deg, #1da1f2, #0e71c8);
  box-shadow: 0 4px 30px rgb(27 86 231 / 70%);
}

.my-art {
  background-image: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.js-active {
  background: none;
  border: 7px solid rgba(107, 74, 255, 0.5);
  color: #333333;

  & h2 {
    padding: 5px 15px;
    width: auto;
    border-radius: 16px;
    background: linear-gradient(45deg, #1da1f2, #0e71c8);
    box-shadow: 0 4px 15px #0164e687;
  }
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  margin: 10px;
  padding: 0;
  list-style: none;
}

.social__item {
  position: relative;
  margin: 0 10px 10px 10px;
  border-radius: 50%;
  box-shadow: 0 4px 15px rgb(23 25 86 / 65%);

  &--linkedin {
    background: linear-gradient(45deg, #003a92, #006cbd);
  }

  &--git {
    background: linear-gradient(45deg, #333333, #626b73);
  }

  &--instagram {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  }

  &--vk {
    background: linear-gradient(45deg, #3b5998, #0078d7);
  }
}

.social__link {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.social__svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.toggle__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0 0 0;
  padding: 0;
  list-style: none;
}

.toggle__item {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 10px;
  background-color: #3644463d;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 6px 12px  rgba(88, 41, 5, 0.7);
}

.toggle__preview {
  display: block;
  object-fit: cover;
  // width: 250px;
  // height: 250px;
}

.toggle__text {
  position: absolute;
  top: 5px;
  left: 5px;
  // transform: translateX(-50%);
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
  background: linear-gradient(50deg,#00649ae6,#00bcffe8);
}
