body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #c4b28e;
}

.container {
  position: relative;
  height: 100vh;
  min-height: 550px;
  background-image: url("../img/background/bg-bamboo-mobile@1x.jpg");
  background-size: cover;
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/bg-bamboo-mobile@2x.jpg");
  }

  @media (min-width: 660px) {
    min-height: 600px;
    padding: 0 30px;
    background-image: url("../img/background/bg-bamboo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-bamboo-tablet@2x.jpg");
    }
  }

  @media (min-width: 1200px) {
    padding: 0;
    width: 1200px;
    min-height: 800px;
    margin: 0 auto;
    background-image: url("../img/background/bg-bamboo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-bamboo-desktop@2x.jpg");
    }
  }
}

.monitor {
  position: absolute;
  bottom: 0;
  width: 710px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: 660px) {
    bottom: 50px;
    width: 660px;
  }

  @media (min-width: 1200px) {
    bottom: 0;
    width: 1080px;
  }
}

.shelf {
  position: absolute;
  top: -10px;
  left: 52%;
  z-index: 2;
  width: 600px;
  height: auto;
  transform: translateX(-50%);
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: 660px) {
    top: 50px;
    left: 50%;
    width: 660px;
    height: auto;
  }

  @media (min-width: 1200px) {
    top: 5px;
    width: 1080px;
  }
}

.sticker {
  position: absolute;
  bottom: 367px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0;
  padding: 0;
  width: 55px;
  height: auto;

  @media (min-width: 660px) {
    bottom: 330px;
    width: 55px;
  }

  @media (min-width: 1200px) {
    bottom: 462px;
    width: 85px;
  }
}

.sticker-inst,
.sticker-arrow,
.sticker-pic {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
}

.sticker-inst {
  width: 95px;

  @media (min-width: 660px) {
    width: 65px;
  }

  @media (min-width: 1200px) {
    width: 120px;
  }
}

.sticker-arrow {
  position: absolute;
  bottom: 375px;
  left: 50%;
  width: 22px;
  // transform: translateX(-50%);
  animation-duration: 1s;
  animation-name: arrow-resize;
  animation-iteration-count: infinite;

  @media (min-width: 660px) {
    bottom: 339px;
    width: 20px;
  }

  @media (min-width: 1200px) {
    bottom: 475px;
    width: 33px;
  }
}

.sticker-pic {
  width: 115px;

  @media (min-width: 660px) {
    width: 85px;
  }

  @media (min-width: 1200px) {
    width: 135px;
  }
}

.links-container {
  // background-color: #e5e5e5;
  position: absolute;
  bottom: 265px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;

  @media (min-width: 660px) {
    width: 260px;
  }

  @media (min-width: 1200px) {
    bottom: 365px;
  }
}

.link-inst {
  position: absolute;
  right: 20px;
  bottom: -20px;
  cursor: pointer;

  @media (min-width: 660px) {
    right: 32px;
    bottom: -15px;
  }

  @media (min-width: 1200px) {
    right: -32px;
    bottom: -45px;
  }

  &:hover {
    filter: drop-shadow(0 0 0.75rem #ffffff);
  }

  &:active {
    opacity: 0.7;
  }
}

.link-pictures {
  position: absolute;
  left: 10px;
  bottom: -23px;
  cursor: pointer;

  @media (min-width: 660px) {
    left: 17px;
    bottom: -19px;
  }

  @media (min-width: 1200px) {
    left: -50px;
    bottom: -49px;
  }

  &:hover {
    filter: drop-shadow(0 0 0.75rem #ffffff);
  }

  &:active {
    opacity: 0.7;
  }
}

@keyframes arrow-resize {
  from {
    transform: translateX(-50%) translateY(-5px) scale(0.8);
  }

  to {
    transform: translateX(-50%) translateY(0) scale(1);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(100%);
}

// ********************************** gallery.html

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 5px;
  margin: 0;
  padding: 20px;
  // padding-top: 50px;

  @media (min-width: 660px) {
    grid-template-columns: repeat(5, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
    width: 1160px;
    margin: 0 auto;
    padding: 0;
  }
}

.gallery-title {
  display: block;
  width: 50%;
  margin: 20px auto 0;
  padding: 0;
  filter: drop-shadow(-1px 1px #230672);

  @media (min-width: 1200px) {
    width: 400px;
  }
}

.link-photo {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  box-shadow: -6px 6px 15px -4px rgba(94, 64, 24, 0.82);
  border-radius: 5px;

  &--big {
    grid-column: span 2;
  }
}

.photo {
  display: block;
  margin: auto;
  padding: 0;
  width: 100%;

  &:hover {
    transition: all 0.2s linear;
    transform: scale(1.2);
  }

  &:active {
    opacity: 0.7;
  }
}
