body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #c4b28e;
}

.container {
  position: relative;
  height: 100vh;
  background-image: url("../img/background/bg-bamboo-mobile@1x.jpg");
  background-size: cover;
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/bg-bamboo-mobile@2x.jpg");
  }

  @media (min-width: 660px) {
    padding: 0 30px;
    background-image: url("../img/background/bg-bamboo-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-bamboo-tablet@2x.jpg");
    }
  }

  @media (min-width: 1200px) {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
    background-image: url("../img/background/bg-bamboo-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/bg-bamboo-desktop@2x.jpg");
    }
  }
}

.monitor {
  position: absolute;
  bottom: 0;
  width: 710px;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: 660px) {
    bottom: 50px;
    width: 660px;
  }

  @media (min-width: 1200px) {
    bottom: 0;
    width: 1080px;
  }
}

.shelf {
  position: absolute;
  top: -10px;
  left: 52%;
  width: 600px;
  height: auto;
  transform: translateX(-50%);
  display: block;
  margin: 0;
  padding: 0;

  @media (min-width: 660px) {
    top: 50px;
    left: 50%;
    width: 660px;
    height: auto;
  }

  @media (min-width: 1200px) {
    top: 5px;
    width: 1080px;
  }
}

.sticker {
  position: absolute;
  bottom: 367px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0;
  padding: 0;
  width: 55px;
  height: auto;

  @media (min-width: 660px) {
    bottom: 330px;
    width: 55px;
  }

  @media (min-width: 1200px) {
    bottom: 462px;
    width: 85px;
  }
}

.sticker-inst,
.sticker-arrow,
.sticker-pic {
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
}

.sticker-inst {
  width: 95px;

  @media (min-width: 660px) {
    width: 65px;
  }

  @media (min-width: 1200px) {
    width: 120px;
  }
}

.sticker-arrow {
  position: absolute;
  bottom: 375px;
  left: 50%;
  width: 22px;
  transform: translateX(-50%);

  @media (min-width: 660px) {
    bottom: 339px;
    width: 20px;
  }

  @media (min-width: 1200px) {
    bottom: 475px;
    width: 33px;
  }
}

.sticker-pic {
  width: 115px;

  @media (min-width: 660px) {
    width: 85px;
  }

  @media (min-width: 1200px) {
    width: 135px;
  }
}

.links-container {
  // background-color: #e5e5e5;
  position: absolute;
  bottom: 265px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;

  @media (min-width: 660px) {
    width: 260px;
  }

  @media (min-width: 1200px) {
    bottom: 365px;
  }
}

.link-inst {
  position: absolute;
  right: 20px;
  bottom: -20px;
  cursor: pointer;

  @media (min-width: 660px) {
    right: 32px;
    bottom: -15px;
  }

  @media (min-width: 1200px) {
    right: -32px;
    bottom: -45px;
  }
}

.link-pictures {
  position: absolute;
  left: 10px;
  bottom: -23px;
  cursor: pointer;

  @media (min-width: 660px) {
    left: 17px;
    bottom: -19px;
  }

  @media (min-width: 1200px) {
    left: -50px;
    bottom: -49px;
  }
}
